<!DOCTYPE html>
<html>
  <head>
    <title>Tabletoppers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <meta name="image" property="og:image" content="https://i.imgur.com/dIpBAe7.png" >
    <meta
      property="og:description"
      content="Full stack clone of popular rating and reviews site, Yelp! Built using React/Redux, HMTL/CSS and Ruby on Rails."
    />
    <meta property="og:title" content="TableToppers" />
    <meta property="og:url" content="https://tabletoppers.herokuapp.com/#/" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
